/* General Style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 17vh;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F5F7F8;
}

nav {
    background-color: #F5F7F8;
}

p {
    color: #495E57;
}

/* Transition */
a,
.btn {
    transform: all 300ms ease;
}

/* Navigation */
.logo {
    font-size: 2rem;
    display: flex;
    align-items: center;
    z-index: 1001; /* Ensure logo is above nav background */
}

.logo img {
    height: 5vh;
    margin-right: 10px;
    object-fit: contain;
}

.logo:hover {
    cursor: default;
}

#desk-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    position: fixed;
    top: 0;
    width: 95%;
    z-index: 1000;
    background-color: #F5F7F8;
    padding: 0 2rem;
}

#desk-nav .nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

#ham-nav {
    display: none; /* Hidden by default for desktop */
    justify-content: space-between;
    align-items: center;
    height: 17vh;
    position: fixed;
    top: 0;
    width: 90%;
    z-index: 1000;
    background-color: #F5F7F8;
    padding: 0 5%;
}

a {
    color: #F4CE14;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: #495E57;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: #495E57;
    transition: all 0.5s ease-in-out;
}

nav img {
    background-color: transparent;
}

#ham-nav .logo {
    font-size: 2rem;
    display: flex;
    align-items: center;
    z-index: 1001;
}

#ham-nav .logo img {
    height: 5vh;
    margin-right: 10px;
    object-fit: contain;
}

.ham-menu {
    position: relative;
    display: flex; /* Changed to flex */
    align-items: center; /* Center items vertically */
    z-index: 1002; /* Ensure ham-menu is above nav background */
}

.ham-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
    z-index: 1003; /* Ensure icon is above menu */
}

.ham-icon span {
    width: 100%;
    height: 2px;
    background-color: #45474B;
    transition: all 0.3s ease-in-out;
}

.ham-icon.open span:first-child {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.ham-icon.open span:nth-child(2) {
    opacity: 0;
}

.ham-icon.open span:last-child {
    transform: rotate(45deg) translate(-5px, -6px);
}

.ham-links {
    position: absolute;
    top: 100%;
    right: 0;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 1004; /* Ensure ham-links are on top when open */
    display: flex;
    flex-direction: column;
    background-color: #F5F7F8;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.ham-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.ham-links li {
    list-style: none;
}

.ham-links.open {
    max-height: 300px; /* Sufficient height to show all links */
    padding: 10px 0; /* Add padding when open */
    border: 1px solid #ccc; /* Add a border */
}


/* Section */
section {
    min-height: 100vh;
    box-sizing: border-box;
    scroll-snap-align: start;
}


/* Hero Section */
#hero {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 12rem;
    height: 100vh;
}

.section_pic-container {
    display: flex;
    height: 50vh;
    width: 50vh;
    margin: auto 0;
}

.section_text {
    align-self: center;
    text-align: center;
}

.section_text p {
    font-weight: 600;
}

.section_text_p1 {
    text-align: center;
}

.section_text_p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    cursor: pointer;
    height: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: #495E57 0.2rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
    background-color: #495E57;
    color: #F4CE14;
}

.btn-color-1:hover {
    background: #495E57;
}

.btn-color-1:hover {
    border: #F4CE14 0.2rem solid;
}

.btn-container {
    gap: 1rem;
}


/* About Section */
#about {
    position: relative;
    padding: 5rem;
}

.about-container {
    gap: 5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-container,
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
    height: 3rem;
    transform: rotate(120deg);
}

.details-container {
    padding: 1.5rem;
    flex: 1 1 30%;
    max-width: calc(100% / 3);
    border-radius: 2rem;
    border: black 0.1rem solid;
    text-align: center;
}

.details-container span {
    font-weight: 600;
}

.section-container {
    display: flex;
    gap: 4rem;
    height: 80%;
}


/* Experience Section */

#exp {
    position: relative;
    padding-left: 5rem;
    padding-right: 5rem;
}

#proj .about-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

#proj .details-container {
    max-width: 100%;
}

.exp-subtitle {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}


/* Projects Section */
#proj {
    position: relative;
    padding-left: 5rem;
    padding-right: 5rem;
}

.color-container {
    border-color: #495E57;
    background-color: #F5F7F8;
}

.proj-img {
    border-radius: 2rem;
    height: 75%;
    width: 75%;
}

.proj-title {
    margin: 1rem;
    color: black;
}

.proj-btn {
    color: black;
    border-color: #495E57;
}

/* Contact Section */
#cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cont-info-up-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: #45474B 0.1rem solid;
    border-color: #45474B;
    margin: 2rem auto;
    padding: 0.5rem;
}

.cont-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.cont-info-container p {
    font-size: larger;
}

.cont-icon {
    cursor: default;
    height: 2rem;
}

/* Footer */
footer {
    margin: 0 1rem;
}

footer p {
    text-align: center;
}

footer .nav-links {
    justify-content: center;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}